{% extends 'mainapp/base_clube.html' %}

{% block title %} Акции {% endblock title %}

{% block body %}
<div class="grey" style="padding-top: 40px; padding-bottom: 30px">
  <div class="container content">
        <div class="row">        
          {% for stock in stocks %}
           <div class="col-md-4">
                <a href="{{stock.slug}}">
                    <div class="card-news">
                        <div class="card-img">
                            <div class="news_photo" style="background-image: url({{stock.image.url}});"></div>
                            <div class="card-title">
                                <h5 style="margin: 0">{{stock.title}}</h5>
                            </div>
                        </div>
                    </div>
                   
                </a>  
            </div>
          {% endfor %}
        </div>
       
  </div>
</div>

{% endblock body %}
