{% load static from staticfiles %}
<!doctype html>
<html>
  <head>
    <title>{% block title %} {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link type="text/css" rel="stylesheet" href="{% static 'plastic/css/materialize.min.css' %}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{% static 'plastic/css/style.css' %}">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NCZ8J49');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCZ8J49"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>
        <div class="nav-wrapper">
            <a href="/shop" class="brand-logo center"><img src="{% static 'plastic/img/logo.png' %}"></a>
        </div>
    </nav>
    <div class="container" style="display: none" data-bind="style: {display: 'block'}">

      {% block body %} {% endblock body %}

    </div>

    <script src="{% static 'plastic/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'plastic/js/jquery.mask.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'plastic/js/materialize.min.js' %}"></script>

    <script src="{% static 'plastic/js/moment.min.js' %}"></script>
    <script src="{% static 'plastic/js/knockout-3.4.0.js' %}"></script>
    <script src="{% static 'plastic/js/knockout-mapping.js' %}"></script>
    <script src="{% static 'plastic/js/bindings.js' %}"></script>

    <script src="{% static 'plastic/js/models/m_auth.js' %}"></script>
    <script src="{% static 'plastic/js/models/m_registration.js' %}"></script>
    <script src="{% static 'plastic/js/models/m_payment.js' %}"></script>
    <script src="{% static 'plastic/js/main.js' %}"></script>
  </body>
</html>
