{% extends 'mainapp/base.html' %}

{% block title %} Заказать бесплатное занятие {% endblock title %}

{% block body %}
<div class="container content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" style="padding-top: 30px">
        <h4 style="text-align:center;">{{ form.title }}</h4>
        {{ form.context | safe }}
        <form action="{% url 'abonement' slug=slug %}" id="form" name="form" method="POST" class="abonement-form">
          {% csrf_token %}
          <input type="hidden" name="subject" id="formsubject" value="ЗАКАЗ АБОНЕМЕНТА" />
          <fieldset class="csc-mailform">
            <div>
              <label for="formName">Ваше имя</label> *
              <input type="text" name="Name" id="formName" size="40" value="" required />
            </div>
            <div>
              <label for="formTel">Номер телефона</label> *
              <input type="text" name="Tel" id="formTel" size="11" required />
            </div>
            <div>
              <input type="submit" name="formtype" class="abonement-btn" id="form_submit" value="Отправить заявку"/>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
</div>


{% endblock body %}
