{% extends 'mainapp/base.html' %}
{% load static from staticfiles %}
{% block title %} Корпоративная страница {% endblock title %}

{% block body %}
<div class="content" style="margin: 0px;padding-right: 0px; padding-left:0px;">
  <div id="c3" class="csc-default" >
    <div class="content">
      <div class="main-slider">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
          {% for slider in sliders %}
              <li data-target="#main-slider" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {% endif %}></li>
          {% endfor %}
          </ol>
          <div class="carousel-inner">
            {% for slider in sliders %}
              <div class="main-slider__item item {% if forloop.first %} active {% endif %}" style="background-image: url('{{ slider.image.url }}');">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h1 class="main-slider__item-header">{{ slider.title }}</h1>
                        <h1 class="main-slider__item-header d-text-c">{{ slider.subtitle }}</h1>
                        <div class="text-left">
                            <span class="divider"></span>
                        </div>
                        <div class="main-slider__item-text">
                            {{ slider.context | safe }}
                        </div>
                        {% if slider.button_text and slider.button_url %}
                        <a class="slider-btn btn pull-left" href="{{ slider.button_url}}">{{ slider.button_text }}</a>
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
      </div> <!-- /Slider -->
      <div class="main-news">
        3 последних новости <br />
        {% for news in news_list %}
          <a href="/news/{{news.slug}}">{{news.title}}</a> - {{news.date}}<br />
        {% endfor %}
        <a href="/news/">Все новости</a>
      </div> <!-- /News -->
      <!-- APPLICATION -->
      <div class="parallax parallax-3 application">
          <div class="d-bg-c padding">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6 col-sm-6 application__left-side">
                          <h2>Скачай мобильное<br> приложение и будь в курсе:</h2>
                          <span class="divider divider-white"></span>

                          <div class="row" style="margin-top: 15px;">
                              <div class="col-sm-6">
                                  <a href="#" class="application__link">
                                      <span class="application__icon-container">
                                          <img src="{% static 'images/app/events.svg' %}" alt="" class="application__icon">
                                      </span>
                                      <span class="application__text">Событий</span>
                                  </a>
                              </div>
                              <div class="col-sm-6">
                                  <a href="#" class="application__link">
                                      <span class="application__icon-container">
                                          <img src="{% static 'images/app/offer.svg' %}" alt="" class="application__icon">
                                      </span>
                                      <span class="application__text">Спецпредложений</span>
                                  </a>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-sm-6 ">
                                  <a href="#" class="application__link">
                                      <span class="application__icon-container">
                                          <img src="{% static 'images/app/news.svg' %}" alt="" class="application__icon">
                                      </span>
                                      <span class="application__text">Новостей</span>
                                  </a>
                              </div>
                              <div class="col-sm-6 ">
                                  <a href="#" class="application__link">
                                      <span class="application__icon-container">
                                          <img src="{% static 'images/app/shedule.svg' %}" alt="" class="application__icon">
                                      </span>
                                      <span class="application__text">Расписания</span>
                                  </a>
                              </div>
                          </div>

                          <span class="app_img">
                              <a href="https://play.google.com/store/apps/details?id=ru.powerhousegym.yekaterinburg&hl=ru">
                                  <img src="{% static 'images/app/google_play.png' %}" width="140px">
                              </a>
                          </span>
                          <span class="app_img">
                              <a href="https://itunes.apple.com/us/app/powerhouse-gym/id1105012151?l=ru&ls=1&mt=8">
                                  <img src="{% static 'images/app/app_store.png' %}" width="140px">
                              </a>
                          </span>
                      </div>
                      <div class="col-md-6 col-sm-6 application__right-side hidden-xs">
                          <img src="../../static/images/app/телефон2.png" class="app_photo" alt="Приложение Powerhouse Gym для мобильного">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- APPLICATION -->
    </div>
  </div>
</div>
{% endblock body %}
