{% extends 'mainapp/base_clube.html' %}
{% load static from staticfiles %}
{% block title %} Главная {% endblock title %}

{% block body %}
<div class="content" style="margin: 0px;padding-right: 0px; padding-left:0px;">
<!--  CONTENT ELEMENT, uid:3/html [begin] -->
<div id="c3" class="csc-default" >
<!--  Raw HTML content: [begin] -->
<!-- === START COTENT === -->
<div class="content">
    {% if sliders %}
    <div class="main-slider">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
          {% for slider in sliders %}
              <li data-target="#main-slider" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {% endif %}></li>
          {% endfor %}
          </ol>
          <div class="carousel-inner">
            {% for slider in sliders %}
              <div class="main-slider__item item {% if forloop.first %} active {% endif %}" style="background-image: url('{{ slider.image.url }}');">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-8 col-sm-12">
                              <h1 class="main-slider__item-header">{{ slider.title }}</h1>
                              <h1 class="main-slider__item-header red-text">{{ slider.subtitle }}</h1>
                              <div class="text-left">
                                  <span class="divider"></span>
                              </div>
                              <div class="main-slider__item-text">
                                  {{ slider.context | safe }}
                              </div>
                              {% if slider.button_text and slider.button_url %}
                              <a class="slider-btn btn pull-left red" href="{{ slider.button_url}}">{{ slider.button_text }}</a>
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
        </div>
    </div>
    {% endif %}


    <!-- BLOG -->
    <div class="grey lessons blog-section__no-margin padding" id="blog" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-rotate="false" data-tesla-autoplay="false" data-tesla-hide-effect="false">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Видеоблог</h3>
                </div>
                <div class="col-md-12">
                    <span class="divider"></span>
                </div>
            </div>
        </div>

        <div class="container blog-videos_padding-top ">
            <div class="row carousel-slick">
              <div class="blog-entry">
                  <div class="entry-cover">
                      <iframe src="https://player.vimeo.com/video/175544170" width="360" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
              </div>
              <div class="blog-entry">
                  <div class="entry-cover">
                      <iframe width="360" height="270" src="https://www.youtube.com/embed/yjH8Eo4pHM4" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>
              <div class="blog-entry">
                  <div class="entry-cover">
                    <iframe width="360" height="270" src="https://www.youtube.com/embed/xUqCVxOyDPQ" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <!-- /BLOG -->

    <!-- TEXT -->
    {% if staticpage %}
    <div class="main-block">
        <div class="padding">
            <div class="container">
                {{ staticpage.context | safe }}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- /TEXT -->

    <!-- SEPARATOR INFO -->
    <div class="separator-info grey" id="classes">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Фитнес-зоны</h3>
                </div>
                <div class="col-md-12">
                    <span class="divider"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- SEPARATOR INFO -->

    <!-- CLASSES -->
    {% if fitneszones %}
    <!-- <div class="lessons grey" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-rotate="false" data-tesla-autoplay="false" data-tesla-hide-effect="false">
        <div class="lessons-arrows">
            <span class="next"><i class="fa fa-chevron-right"></i></span>
            <span class="prev disabled"><i class="fa fa-chevron-left"></i></span>
        </div> -->
    <div class="grey">
        <div class="container">
            <div class="row carousel-slick">
                {% for fitzone in fitneszones %}
                <a href="{{fitzone.url}}">
                  <div class="lesson">
                      <img src="{{fitzone.image.url}}" alt="{{fitzone.title}}" />
                      <h4>{{fitzone.title}}</h4>
                  </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- /CLASSES -->

</div>
<!-- === END CONTENT === -->

<!--  Raw HTML content: [end] -->
</div>
<!--  CONTENT ELEMENT, uid:3/html [end] -->
</div>
{% endblock body %}
