{% extends 'mainapp/base_clube.html' %}
{% load static from staticfiles %}
{% block title %} Главная {% endblock title %}

{% block body %}
<div class="content" style="margin: 0px;padding-right: 0px; padding-left:0px;">
<!--  CONTENT ELEMENT, uid:3/html [begin] -->
<div id="c3" class="csc-default" >
<!--  Raw HTML content: [begin] -->
<!-- === START COTENT === -->
<div class="content">
    {% if sliders %}
    <div class="main-slider hidden-xs">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            {% for slider in sliders %}
                <li data-target="#main-slider" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {% endif %}></li>
            {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for slider in sliders %}
                    <div class="main-slider__item item {% if forloop.first %} active {% endif %}" style="padding: 0">
                        <a href="{{ slider.button_url}}" style="position: absolute; top: 0; bottom: 0; left:0; right: 0; z-index: 1"></a>
                        <img src="{{ slider.image.url }}" alt="">
                    </div>
              {% endfor %}
          </div>
        </div>
    </div>
    {% endif %}

    {% if stocks %}
        <div class="separator-info container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Новости и акции</h3>
                </div>
                <div class="col-md-12">
                    <span class="divider"></span>
                </div>
                {% for stock in stocks %}
                    <div class="col-md-4">
                        <a href="stock/{{stock.slug}}">
                            <div class="card-news">
                                <div class="card-img">
                                    <div class="news_photo" style="background-image: url({{stock.image.url}});"></div>
                                    <div class="card-title">
                                        <h5 style="margin: 0">{{stock.title}}</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}



    <!-- BLOG -->
    <div class="separator-info grey" id="classes">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Видео-блог</h3>
                </div>
                <div class="col-md-12">
                    <span class="divider"></span>
                </div>
                {% if channel %}
                    {{ channel.html | safe }}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /BLOG -->

    <!-- TEXT -->
    {% if staticpage %}
    <div class="main-block">
        <div class="padding">
            <div class="container">
                {{ staticpage.context | safe }}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- /TEXT -->

    

    

    <!-- SEPARATOR INFO -->
    <div class="separator-info grey" id="classes">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Фитнес-зоны</h3>
                </div>
                <div class="col-md-12">
                    <span class="divider"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- SEPARATOR INFO -->

    <!-- CLASSES -->
    {% if fitneszones %}
    <!-- <div class="lessons grey" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-rotate="false" data-tesla-autoplay="false" data-tesla-hide-effect="false">
        <div class="lessons-arrows">
            <span class="next"><i class="fa fa-chevron-right"></i></span>
            <span class="prev disabled"><i class="fa fa-chevron-left"></i></span>
        </div> -->
    <div class="grey" style="padding-bottom: 30px;">
        <div class="container">
            <div class="row carousel-slick" style="margin: 0 -10px">
                {% for fitzone in fitneszones %}
                  <div class="lesson" style="padding: 0 10px;">
                    <a href="{{fitzone.link}}">
                      <img src="{{fitzone.image.url}}" alt="{{fitzone.title}}" />
                      <h4 class="white-text" style="padding: 20px 10px">{{fitzone.title}}</h4>
                    </a>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- /CLASSES -->

</div>
<!-- === END CONTENT === -->

<!--  Raw HTML content: [end] -->
</div>
<!--  CONTENT ELEMENT, uid:3/html [end] -->
</div>
{% endblock body %}
