{% extends 'mainapp/base_clube.html' %}

{% block title %} Расписание зала {% endblock title %}

{% block body %}
    <div class="container content" style="padding-top: 30px;">
        <div class="csc-default" >
            <div class="timetable">
                <div class="container">
                    <div class="timetable-content">
                        <table>
                            <thead>
                                <tr>
                                    {% for day in desktop %}
                                    <th class="timetable-column-header">{{ day.day }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for day in desktop %}
                                        <td>
                                            {% for entry in day.data %}
                                                <div id="entry-{{ entry.id }}" class="timetable-entry">
                                                    <div class="timetable-entry-time">
                                                        {{ entry.get_time_display }}
                                                        <span class="timetable-entry-duration">({{ entry.duration }} мин.)</span>
                                                    </div>
                                                    <div class="timetable-entry-name">{{ entry.content }}</div>
                                                </div>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% for day in mobile %}
            <table class="schedule-table">
                <thead><tr><th colspan="2">{{day.day}}</th></tr></thead>
                <tbody>
                    {% for hour in day.data %}
                        <tr>
                            <td>{{ hour.time }}</td>
                            <td>
                                {% for entry in hour.data %}
                                <div id="entry-mobile-{{ entry.id }}" class="schedule-table-entry-text">
                                    {{ entry.content }}
                                </div>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>

    <!-- Entries Data -->
    <div class="hide entries-data">
    {% for day in desktop %}
        {% for entry in day.data %}
            <div id="entry-data-{{ entry.id }}">
                <div class="entry-data-content">{{ entry.content.name }}</div>
                <div class="entry-data-time">{{ entry.get_time_display }}</div>
                <div class="entry-data-weekday">{{ entry.weekday }}</div>
                <div class="entry-data-duration">{{ entry.duration }}</div>
                <div class="entry-data-description">{{ entry.content.description | striptags }}</div>
                <div class="entry-data-image">{{MEDIA_URL}}{{ entry.content.image }}</div>
            </div>
        {% endfor %}
    {% endfor %}
    </div>

    <!-- Modal -->
    <div class="timetable-modal modal fade" id="timetable-modal" tabindex="-1" role="dialog" aria-labelledby="timetable-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                    <h4 class="modal-title" id="timetable-modal-content"></h4>
                </div>

                <div class="modal-body">
                    <img id="timetable-modal-image" src="">
                    <div class="text-container">
                        <p id="timetable-modal-description"></p>
                        <div class="timetable-modal-time-info">
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                            <div class="timetable-modal-weekday"></div>
                            <div class="timetable-modal-duration"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
