{% extends 'mainapp/base_clube.html' %}

{% block title %} Расписание зала {% endblock title %}

{% block body %}
    <div class="container content" style="padding-top: 30px;">
     <div class="csc-default" >
       <div class="timetable">
           <div class="container">

               <ul class="timetable-head">
                   <li>Расписание</li>
                   <li>Понедельник</li>
                   <li>Вторник</li>
                   <li>Среда</li>
                   <li>Четверг</li>
                   <li>Пятница</li>
                   <li>Суббота</li>
                   <li>Воскресенье</li>
               </ul>

               {% for day in desktop %}
               <ul class="timetable-content">
                 <li>{{day.time}}</li>
                 {% for time in day.data %}
                  {% if time.content %}
                  <li class="timetable-text">{{time.content}}</li>
                  {% else %}
                  <li>&nbsp;</li>
                  {% endif %}
                 {% endfor %}
               </ul>
               {% endfor %}
           </div>
       </div>

       {% for day in mobile %}
       <table class="schedule-table">
         <thead><tr><th colspan="2">{{day.day}}</th></tr></thead>
         <tbody>
           {% for time in day.data %}
           <tr><td>{{time.time}}</td><td>{{time.content}}</td></tr>
           {% endfor %}
         </tbody>
       </table>
       {% endfor %}

     </div>

{% endblock body %}
