{% extends 'mainapp/base.html' %}
{% block title %} Программы {% endblock title %}

{% block body %}
<div class="container content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="padding-top: 30px">
        {%for program in programs %}
            <div class="news_item" >
                <h4 class="news_item__title">{{program.title}}</h4>
                <a href="{{program.slug}}">Подробнее</a>
            </div>
        {% endfor %}
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock body %}
